In [1]:
import numpy as np

In [2]:
a = np.array([['satya','vamsi'],['bhavan','goutham']])

In [3]:
a

array([['satya', 'vamsi'],
       ['bhavan', 'goutham']], dtype='<U7')

In [4]:
type(a)

numpy.ndarray

In [5]:
import pandas as pd

# series

In [6]:
#creating a series

In [7]:
a = np.array([34,56,78,90])

In [8]:
a

array([34, 56, 78, 90])

In [9]:
type(a)

numpy.ndarray

In [10]:
S = pd.Series(a)

In [11]:
S

0    34
1    56
2    78
3    90
dtype: int32

In [12]:
# create a series with indexes [a,b,c,d,e,f]

In [14]:
S = pd.Series([23,34,5,67,89,12],index = ['a','b','c','d','e','f'])

In [15]:
S

a    23
b    34
c     5
d    67
e    89
f    12
dtype: int64

In [18]:
type(S)

pandas.core.series.Series

In [19]:
S.size

6

In [21]:
a = np.random.random(10)
b = np.arange(10)
S = pd.Series(a,b)

In [22]:
S

0    0.689200
1    0.169383
2    0.177768
3    0.756333
4    0.813131
5    0.758139
6    0.423662
7    0.053179
8    0.856305
9    0.355781
dtype: float64

In [23]:
S = pd.Series(np.random.random(10),np.arange(10))

In [24]:
S

0    0.775467
1    0.640901
2    0.382814
3    0.759356
4    0.834592
5    0.223592
6    0.228781
7    0.332514
8    0.567192
9    0.991692
dtype: float64

In [25]:
# create a series using a dictionary

In [26]:
a = {1:'satya',2:'Niranjan',3:'vikas',4:'uday'}

In [27]:
a

{1: 'satya', 2: 'Niranjan', 3: 'vikas', 4: 'uday'}

In [28]:
S = pd.Series(a)

In [29]:
S

1       satya
2    Niranjan
3       vikas
4        uday
dtype: object

# Slicing

In [30]:
S

1       satya
2    Niranjan
3       vikas
4        uday
dtype: object

In [31]:
S = pd.Series([12,45,67,89,90,23,45,32,12],index = np.arange(9))

In [32]:
S

0    12
1    45
2    67
3    89
4    90
5    23
6    45
7    32
8    12
dtype: int64

In [33]:
# return all elements of a series

In [34]:
S[:]

0    12
1    45
2    67
3    89
4    90
5    23
6    45
7    32
8    12
dtype: int64

In [35]:
# return first 3 elements of a series

In [36]:
S[0:3]

0    12
1    45
2    67
dtype: int64

In [37]:
# return last element of the series

In [38]:
S[-1:]

8    12
dtype: int64

In [39]:
# return last 2 element of the series

In [40]:
S[-2:]

7    32
8    12
dtype: int64

In [41]:
# return all elements of the series except last two

In [42]:
S[:-2]

0    12
1    45
2    67
3    89
4    90
5    23
6    45
dtype: int64

In [43]:
S[:-1]

0    12
1    45
2    67
3    89
4    90
5    23
6    45
7    32
dtype: int64

# append a series

In [44]:
s1 = pd.Series([23,45,67],index = [1,2,3])
s2 = pd.Series([45,12,36],index = ['a','b','c'])

In [45]:
s1 , s2

(1    23
 2    45
 3    67
 dtype: int64,
 a    45
 b    12
 c    36
 dtype: int64)

In [46]:
s3 = s1.append(s2)

In [47]:
s3

1    23
2    45
3    67
a    45
b    12
c    36
dtype: int64

In [48]:
s3

1    23
2    45
3    67
a    45
b    12
c    36
dtype: int64

In [49]:
s3.drop('a')

1    23
2    45
3    67
b    12
c    36
dtype: int64

In [50]:
s3

1    23
2    45
3    67
a    45
b    12
c    36
dtype: int64

In [51]:
s3.drop('a',inplace = True)

In [52]:
s3

1    23
2    45
3    67
b    12
c    36
dtype: int64

In [53]:
# inplace = False ===> it deosn't effect original series
# inplace = True  ===> it effects original series

In [54]:
#append an iten to series

In [58]:
s4 =s3.append(pd.Series({'d':50}))

In [59]:
s4

1    23
2    45
3    67
b    12
c    36
d    50
dtype: int64

# operations on series

In [61]:
s1 = pd.Series(np.array([10,20,30]))
s2 = pd.Series(np.array([40,50,60]))

In [62]:
s1, s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    40
 1    50
 2    60
 dtype: int32)

In [63]:
s1.add(s2)

0    50
1    70
2    90
dtype: int32

In [64]:
s1+s2

0    50
1    70
2    90
dtype: int32

In [65]:
s1.sub(s2)

0   -30
1   -30
2   -30
dtype: int32

In [66]:
s2.sub(s1)

0    30
1    30
2    30
dtype: int32

In [67]:
s1.subtract(s2)

0   -30
1   -30
2   -30
dtype: int32

In [68]:
s1 - s2

0   -30
1   -30
2   -30
dtype: int32

In [69]:
s1.mul(s2)

0     400
1    1000
2    1800
dtype: int32

In [70]:
s1.multiply(s2)

0     400
1    1000
2    1800
dtype: int32

In [71]:
s1*s2

0     400
1    1000
2    1800
dtype: int32

In [72]:
s1

0    10
1    20
2    30
dtype: int32

In [73]:
s1.add(90)

0    100
1    110
2    120
dtype: int32

In [74]:
s1

0    10
1    20
2    30
dtype: int32

In [75]:
s1.multiply(100)

0    1000
1    2000
2    3000
dtype: int32

In [76]:
# series comparision

In [80]:
s1.equals(s2)

False

In [78]:
s1.mean()

20.0