## Give some statistics about Dataset

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
# read dataframe

df = pd.read_csv('cust_seg.csv')

In [19]:
df
# it will print the data set

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2
...,...,...,...,...,...,...,...,...,...,...
195,31,1,2,2,2,1,55,59,62.4,64.9
196,145,1,4,2,1,3,42,46,45.6,50.6
197,187,1,4,2,2,1,57,41,68.4,45.1
198,118,1,4,2,1,1,55,62,69.6,68.2
199,137,1,4,3,1,2,63,65,78.0,71.5

In [14]:
df.sex.value_counts()

1    109
0     91
Name: sex, dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               200 non-null    int64
 1   sex                  200 non-null    int64
 2   AqChannel            200 non-null    int64
 3   region               200 non-null    int64
 4   Marital_status       200 non-null    int64
 5   segment              200 non-null    int64
 6   pre_usage            200 non-null    int64
 7   Post_usage_1month    200 non-null    int64
 8   Latest_mon_usage     200 non-null    float64
 9   post_usage_2ndmonth  200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.7 KB

In [18]:
df.isna().sum()# it will check the null values in the data frame

custid                 0
sex                    0
AqChannel              0
region                 0
Marital_status         0
segment                0
pre_usage              0
Post_usage_1month      0
Latest_mon_usage       0
post_usage_2ndmonth    0
dtype: int64

# 1. Card usage has been improved significanlty from last year usage which is 50. 
(Hint: comparing card usage of post campaign of 1 month with last year hypothesized value 50)

In [20]:
stats.ttest_1samp(a=df.Post_usage_1month,popmean=50)# pop mean is the hypothetical value

Ttest_1sampResult(statistic=4.140324966963024, pvalue=5.120919460716355e-05)

In [21]:
df.Post_usage_1month.mean()

52.775

Since the p value is very small we reject the NULL hypothesis.
================================================================
"Hence we fail to reject the NULL hypothesis and accept the ALT hypothesis

# 2. The last campaign was successful in terms usage of credit card. 
(Hint comparning means for card usage of pre and post usage of campaign).

In [28]:
df.post_usage_2ndmonth.isna().sum()

0

In [34]:
print(df.pre_usage.mean())
print(df.Post_usage_1month.mean())
print(df.post_usage_2ndmonth.mean())

52.23
52.775
58.05250000000003

In [35]:
stats.ttest_rel(a=df.pre_usage,b=df.Post_usage_1month)

Ttest_relResult(statistic=-0.8673065458794775, pvalue=0.3868186820914985)

Since the Pvalue i not  less than 0.05 we fail to reject the Null Hypothesis.
================================================================================
Hence the campaing was successful.

# 3. Is there any difference between males and females in terms of credit card usage? 
(Hint: Comparing means of Card usage for males and females)

In [36]:
Males_spend=df.Post_usage_1month[df.sex==0]
Females_spend=df.Post_usage_1month[df.sex==1]

In [37]:
print(Males_spend.head())
print(Females_spend.head())

0    52
2    33
3    44
4    52
5    52
Name: Post_usage_1month, dtype: int64
1     59
92    62
93    44
94    44
95    62
Name: Post_usage_1month, dtype: int64

In [38]:
print(Males_spend.mean())
print(Females_spend.mean())

50.120879120879124
54.99082568807339

In [39]:
print(Males_spend.std())
print(Females_spend.std())

10.305160697259263
8.13371516959346

In [40]:
stats.ttest_ind(a=Males_spend,b=Females_spend,equal_var = False)
# equal_var Assum samples have equal variance.

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

In [41]:
# we can use ANNOVA as well
stats.f_oneway(Males_spend,Females_spend)

F_onewayResult(statistic=13.94330754080599, pvalue=0.0002462546120354903)

Since Pvalue is less than0.05 we reject the Null hypothesis.
================================================================
Hence, we  conclude there is a difference b/w Male_spend and Female_spend.

# 4. Is there any relation between region and segment? 
(Hint: Finding the relationship between categorical variables and Segment)

In [42]:
df.segment.value_counts()

2    105
3     50
1     45
Name: segment, dtype: int64

In [45]:
df.region.value_counts()

2    95
3    58
1    47
Name: region, dtype: int64

In [46]:
t=pd.crosstab(df.segment,df.region,margins=True)

In [48]:
t
# acual distribution b/w segment and region

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

HO: There is no relationship
H1: There is  relationship
if P<0.05, then we reject NULL,

else, we fail to reject NULL hypothesis.

In [49]:
stats.chi2_contingency(observed=t)

(16.60444164948934,
 0.055282939487992365,
 9,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))

Based on the P value we can say there is a relationship b/w region and segmement.