# RegEx

In [1]:
# Regular expression is a sequence of charcters that forms a search pattern.
# Regular expressions are used to check if a string contains the specified search pattern

In [2]:
# re - package

In [3]:
import re

In [4]:
x = 'The sun raises in the east'
y = re.search('The sun',x)

In [5]:
y

# RegEx Functions

1. findall -------Returns a list containing all matches 
2. search  -------Returns a match object if there is a match anywhere in 
                  the string
3. split   -------Returns a list where the string has been split at each 
                  Match 
4. sub     -------Replaces one or many matches with a string

# Metacharacters

1. [] - A set of characters 
2. \  - signals a special sequence
3. .  - Any character (Except new line character)
4. ^  - Starts with 
5. $  - Ends with 
6. *  - Zero or more occurances
7. +  - One or more occurances
8. ?  - Zero or one occurance
9. {} - Extactly the specified number of occurances
10. | -Either or
11. () - capture and group

In [6]:
# set of characters []
x = 'The sun raises in the east'
# find all lower case characters alphabetically between "a" and 'K'
y = re.findall("[a-k]",x)
print(y)

['h', 'e', 'a', 'i', 'e', 'i', 'h', 'e', 'e', 'a']

In [7]:
y = re.findall("[a-n]",x)
print(y)

['h', 'e', 'n', 'a', 'i', 'e', 'i', 'n', 'h', 'e', 'e', 'a']

In [8]:
data = " That will cost aroung 34 rupees"
#find all digit characters
y = re.findall('\d',data)
print(y)

['3', '4']

In [42]:
x = "hello innomatics"
# search a sequence that starts with "he" followed by two (any) 
#characters , and an 'o'

In [43]:
s = re.findall("h....",x)
print(s)

['hello']

In [45]:
# starts with 
x = 'hello innomatics hyderabad'
# check if string starts with hello 
y = re.findall("^hello",x)
if y:
    print('Yes!, The give string starts with hello')
else:
    print('No!, The given string not starts with hello')

Yes!, The give string starts with hello

In [50]:
# starts with 
x = 'innomatics hyderabad welcomes you'
# check if string starts with hello 
y = re.findall("^inn",x)
if y:
    print('Yes!, The give string starts with inn')
else:
    print('No!, The given string not starts with inn')

Yes!, The give string starts with inn

In [69]:
# ends with
x = 'innomatics hyderabad welcomes you{}'
y = re.findall('{}$',x)
if y :
    print('Yes! string ends with search pattern')
else:
    print('No! string not ends with search pattern')

Yes! string ends with search pattern

In [70]:
# * zero or more occurances

In [100]:
x = 'helloc innomaticis'
# search for a sequence that starts with "he" followed by 0 or more any
# characters and an "o"
y = re.findall("i.*c",x)
print(y)

['innomatic']

In [135]:
#+ one or more occurances
x = 'hello satyakumar'
# search a sequence thats starts with "he " followed by one or more
# (any) characters and an 'o'
y = re.findall('he.+o',x)
print(y)

['hello']

In [146]:
x = 'hyderabad is good city and famous for biryani'
#Search for a pattern that starts with "hy follwed by 0 or 1 any 
#character and an "d"
y = re.findall("hy.?r",x)
print(y)

['hyder']

In [154]:
# {} exactly the specified number of occurances
data = 'hello Innomatics, Hyderabad. hello Hyderabad'
# search for a pattern that starts with "he"  followed by exactly two 
#characters and an 'o'
y = re.findall('In.{7}s',data)
print(y)

['Innomatics']

In [158]:
# either or 
x = "I live in hyderabad and travels to banglore. I dont in bng"
# check if the string contains either "live|stay"

In [159]:
y = re.findall("live|stay",x)
print(y)

['live']

# findall()

In [160]:
# findall() return a list containing all matches
# The list contains the matches in the order they are found
# if no matches are found , an empty list is returned

In [161]:
x = 'This is datascience class'
y = re.findall('a',x)
print(y)

['a', 'a', 'a']

In [162]:
x = 'This is datascience class'
y = re.findall('x',x)
print(y)

[]

In [163]:
x = 'This is datascience class'
y = re.findall('[a-m]',x)
print(y)

['h', 'i', 'i', 'd', 'a', 'a', 'c', 'i', 'e', 'c', 'e', 'c', 'l', 'a']

# Search()

In [164]:
# The search function searches the string for a match and returns 
# a match object if there is a match
# if there is more than one match , only the first occurance of the 
#match will be returned

In [165]:
# more than one match
x = """Hyderabad is famous for pearls and biryani.It is the 
capital of  Telangana state. Hyderabad has good transportation"""
y = re.search('Hyderabad',x)
print(y)

<re.Match object; span=(0, 9), match='Hyderabad'>

In [167]:
# search for first occurance of "e"
y = re.search('e',x)
print(y)

<re.Match object; span=(3, 4), match='e'>

In [169]:
#search for first new line character
x = """Hyderabad is famous for pearls and biryani.It is the 
capital of  Telangana state. Hyderabad has good transportation"""
y = re.search('\n',x)
print(y)

<re.Match object; span=(53, 54), match='\n'>

In [170]:
# search for first white space character
x = """Hyderabad is famous for pearls and biryani.It is the 
capital of  Telangana state. Hyderabad has good transportation"""
y = re.search('\s',x)
print(y)

<re.Match object; span=(9, 10), match=' '>

# Split()

In [171]:
# the split() function returns a list where the string has been split 
# at each match
# we can control the number of occurances by specifying the maxsplit
#parameter

In [173]:
x = """Hyderabad is famous for pearls and biryani.It is the 
capital of Telangana state.Hyderabad has good transportation"""
y = re.split('\s',x)
print(y)

['Hyderabad', 'is', 'famous', 'for', 'pearls', 'and', 'biryani.It', 'is', 'the', '', 'capital', 'of', 'Telangana', 'state.', 'Hyderabad', 'has', 'good', 'transportation']

In [174]:
x = """Hyderabad is famous for 
pearls and biryani.It is the 
capital of Telangana state.
Hyderabad has good transportation"""
y = re.split('\n',x)
print(y)

['Hyderabad is famous for ', 'pearls and biryani.It is the ', 'capital of Telangana state.', 'Hyderabad has good transportation']

In [175]:
x = """Hyderabad is famous for 
pearls and biryani.It is the 
capital of Telangana state.
Hyderabad has good transportation"""
y = re.split('a',x)
print(y)

['Hyder', 'b', 'd is f', 'mous for \npe', 'rls ', 'nd biry', 'ni.It is the \nc', 'pit', 'l of Tel', 'ng', 'n', ' st', 'te.\nHyder', 'b', 'd h', 's good tr', 'nsport', 'tion']

In [176]:
# split the string at first occurance of match
x = """Hyderabad is famous for pearls and biryani.It is the 
capital of Telangana state.Hyderabad has good transportation"""
y = re.split('\s',x,1)
print(y)

['Hyderabad', 'is famous for pearls and biryani.It is the \ncapital of Telangana state.Hyderabad has good transportation']

In [177]:
# split the string at first two occurance of match
x = """Hyderabad is famous for pearls and biryani.It is the 
capital of Telangana state.Hyderabad has good transportation"""
y = re.split('\s',x,2)
print(y)

['Hyderabad', 'is', 'famous for pearls and biryani.It is the \ncapital of Telangana state.Hyderabad has good transportation']

# sub()

In [179]:
#The sub() function replaces the matches with the text of our choice
x = 'Hello Innomatics, Hello all'
y = re.sub('Hello','Hai',x)
print(y)

Hai Innomatics, Hai all

In [184]:
#The sub() function replaces the matches with the text of our choice
x = 'Hello Innomatics, Hello all'
y = re.sub('Hello','Hai',x,1)
print(y)

Hai Innomatics, Hello all

In [186]:
x = 'Hello Innomatics, Hello all'
y = re.sub("\s",'10',x)
print(y)

Hello10Innomatics,10Hello10all

In [187]:
x = 'Hello Innomatics, Hello all'
# search a sequence hello in the given string
y = re.search('Hello',x)
y

# Match Object

In [188]:
# it is an object containing information about the search and result
# the match object have properties used to retrieve information about 
#search item and result

.span() returns a tuple containing start and end positions of the match
.string() returns string passed to the function
.group() returns the part of the string where there was a match

In [189]:
x = 'Hello Innomatics, Hello all'
# search a sequence hello in the given string
y = re.search('Hello',x)

In [190]:
y.span()

(0, 5)

In [192]:
y.string

'Hello Innomatics, Hello all'

In [193]:
y.group()

'Hello'

# Character classes

 Character class             Description
 \d                          any numeric digit from 0 to 9
 \D                          Any character that is not a numeric digit from 0 to 9
 \w                          Any Letter, numeric digit, or the underscore character
 \W                          Any character that is not a letter , numeric digit,or the underscore
 \s                          Any space , tab or new line character
 \S                          Any character that is not a space ,tab or new line
 \b                          Word boundary. This is a zero width assertion that matches only at 
                             the begining or end of word